<div class=form-header>
  <div class="panel-heading">
    <h3 class="panel-title" align="center">Compila Modulo</h3>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%#= link_to 'Back', modulos_path %>
