<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Alumni Polito</title>

<!-- jQuery -->
<script src="app/assets/javascripts/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="app/assets/javascripts/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="app/assets/javascripts/jquery.easing.min.js"></script>
<script src="app/assets/javascripts/scrolling-nav.js"></script>

<!-- Bootstrap Core CSS -->
<link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="app/assets/stylesheets/scrolling-nav.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<style type="text/css">
#divA {
padding-top: 20px;
}
#divB {
padding-top: 20px;
padding-bottom: 40px;
}

p.serif {
font-family: "Times New Roman", Times, serif;
}
</style>



<!-- Navigation -->
<nav class="navbar navbar-warning navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Alumni Polito</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
              <a class="page-scroll" href="#page-top"></a>
          </li>
          <li>
              <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
              <a class="page-scroll" href="#program">Programma</a>
          </li>
          <li>
              <a class="page-scroll" href="#form">Richiesta Pergamena</a>
          </li>
          <li>
              <a class="page-scroll" href="#contact">Contatti</a>
          </li>
          <li>
              <a class="page-scroll" href="#partner">Partner</a>
          </li>
      </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-header">
<div class="container">
  <div class="row">
      <div class="col-lg-12">

        <div class="intro-message">
        </div>
      </div>
  </div>
</div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1>About Section</h1>
          <h3>Descrizione dell'evento</h3>
      </div>
  </div>
</div>
</section>

<!-- Program Section -->
<section id="program" class="program-section">
<!--
<div class="container">
  <div class="row">
      <div class="col-lg-12" style="color: #f8f8f8;">
          <h1>Programma</h1>
          <h3>Descrizione del programma</h3>
      </div>
  </div>
</div>
<br>

Inizio
 /container full

  <div class="container">
      <hr class="">
      <div class="row">
          <div class="col-md-4">
              <div class="panel panel-warning">
                  <div class="panel-heading">
                      <h4 class="">SABATO 28 MAGGIO 2016 - INNOVAZIONE E NETWORKING.</h4>
                  </div>
                  <div class="panel-body">
                    <p class="serif" align="justify"><b>Ore 17.00:</b><br>Visita all'Incubatore Imprese Innovative del Politecnico di Torino I3P (Ritrovo presso la Caffetteria MixTO, Corso Casterlfidardo 34/a).
                    </p>
                    <p class="serif" align="justify"><b>Ore 20.00:</b><br>Cena presso il Ristorante "Il Circolo"  del Centro Congressi dell'Unione Industriale,via Vela 15.
                    </p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-warning">
                  <div class="panel-heading">
                      <h4 class="">DOMENICA 29 MAGGIO 2016 - ANNIVERSARI DI LAUREA E PREMIAZIONE NEOLAUREATI.</h4>
                  </div>
                  <div class="panel-body">
                    <p class="serif" align="justify"><b>Ore 8.30 - 9.00:</b><br>Registrazione dei partecipanti</p>
                    <p class="serif" align="justify"><b>Ore 9.00:</b><br>Assemblea dell'Associazione riservata ai Soci - Aula 15 A </p>
                    <p class="serif" align="justify"><b>Ore 10.00:</b><br>Cerimonia alla presenza del Rettore Marco Gilli</p>
                    <p class="serif" align="justify"><b>Ore 10.30:</b><br>Intervento dell'Ing. Vincenzo Ilotte, Alumnus Polito Presidente della Camera di Commercio di Torino</p>
                    <p class="serif" align="justify"><b>Ore 11.00:</b><br>Consegna delle pergamene ai Colleghi con 75 - 70 - 65 - 60 - 55 - 50 - 40 - 25 anni di Laurea e Consegna dei Premi ai migliori laureati</p>
                    <p class="serif" align="justify"><b>Ore 12.30:</b><br>Aperitivo di networking</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-warning">
                  <div class="panel-heading">
                      <h4 class="">SPEAKERS.</h4>
                  </div>
                  <div class="panel-body">
                    <p class="serif" align="justify"><b>Ore 17.00:</b><br>...
                    </p>
                    <p class="serif" align="justify"><b>Ore 20.00:</b><br>...
                    </p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  -->
<!--Fine-->
</section>

<br><br><br><br><br><br>

<!-- Form Section -->
<section id="form" class="form-header">
<div class="container">
<div class="row">
  <div class="col-lg-12">
    <div class="intro-message">
      <h1>Pergamena</h1>
      <h3>Richiedi qui la tua pergamena</h3>
      <ul class="list-inline intro-social-buttons">
        <div class="col-md-8 col-md-offset-2">
          <div id="divB">
            <%= link_to "Clicca qui",new_modulo_path, :class => "btn btn-default" %>
          </div>
        </div>
      </ul>
      <!-- in caso per mettere il modulo di richiesta cena e visita all'i3p -->
      <hr class="intro-divider">
      <h3>Oppure scarica il modulo in pdf</h3>
      <ul class="list-inline intro-social-buttons">
        <div class="col-md-8 col-md-offset-2">
          <div id="divB">
            <%= link_to "Modulo PDF", "modulo.pdf", :format => 'pdf', :class => "btn btn-default" %>
          </div>
        </div>
      </ul>
    <!-- -->
    </div>
 </div>
</div>
</div>
</section>

<br><br><br><br><br><br>
<!-- Contact Section -->
<section id="contact" class="contact-section">
<div class="container">
<h1>Contatti</h1><br>
	<div class="row text-center">
		<div class="col-sm-3 col-xs-6 first-box">
        <h1><i class="fa fa-phone"></i></h1>
        <h3>Phone</h3>
        <p>(+39) 011.090.7998<br>(+39) 011.090.7953</p>
    </div>
    <div class="col-sm-3 col-xs-6 second-box">
        <h1><i class="fa fa-university"></i></h1>
        <h3>Location</h3>
        <p>Corso Duca degli Abruzzi 24<br>10129 Torino - Italia</p>
    </div>
    <div class="col-sm-3 col-xs-6 third-box">
        <h1><i class="fa fa-envelope-square"></i></span></h1>
        <h3>E-mail</h3>
        <p>segreteria.alumni@polito.it</p><br>
    </div>
    <div class="col-sm-3 col-xs-6 fourth-box">
    	<h1><i class="fa fa-leaf"></i></h1>
        <h3>Web</h3>
        <p>www.alumni.polito.it</p><br>
    </div>
	</div>
</div>
</section>

<br><br>
<!-- Patner Section -->
<section id="partner" class="partner-section">
<div class="container">
<h1>I nostri Partner</h1><br>
	<div class="col-md-12 col-md-offset-3">
    <div class="col-sm-3 col-xs-4 first-patners-box">
        <h1><!--<img src="/assets/fileshute.png">--></h1>
        <h3>Fileshute s.r.l</h3>
        <p><b>www.fileshute.com</b></p>
    </div>
    <div class="col-sm-3 col-xs-6 second-patners-box">
        <h1><!--<img src="/assets/logo_SoR.png">--></h1>
        <h3>SicilyonRails</h3>
        <p><b>www.sicilyonrails.org</b></p>
    </div>

	</div>
</div>
</section>
</body>

</html>
